.resp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  .res {
    .rest {
      padding: 0px 15px;
    }

    p {
      color: white;
      background-color: black;
    }
    
    width: 80%;
    background-color: white;

  }

}